.main {
  background-color: #bbdefb;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  padding: 24px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drop {
  background-color: #bbdefb;
  min-width: 100vw;
  padding: 0 24px 12px 24px;
  position: fixed;
}

.dropHide {
  top: 0;
  transition: 0.3s;
  z-index: 0;
}

.dropShow {
  box-shadow: 0px 10px 20px -18px rgba(0, 0, 0, 0.75);
  top: 162px;
  transition: 0.3s;
  z-index: 10;
}
