.button {
  align-items: center;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  padding: 0 24px;
  text-overflow: ellipsis;
  transition: 0.3s;
  white-space: nowrap;
  width: fit-content;
}

.button:hover {
  transition: 0.3s;
}

.button__primary {
  background-color: #000000;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
  color: #eeffff;
}

.button__primary:hover {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);
}

.button__secondary {
  background-color: #eeffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
  color: #000000;
}

.button__secondary:hover {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
}

.button__big {
  font-size: 32px;
  height: 64px;
  width: 100%;
}

.button__small {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  height: 48px;
}

.button__small:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.button__disabled {
  background-color: #cfcfcf;
  box-shadow: none;
  color: #000000;
  cursor: not-allowed;
}

.button__disabled:hover {
  box-shadow: none;
}
