.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
}

.round {
  text-align: center;
}

.theMan {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.theManText {
  font-size: 36px;
  font-style: italic;
}

.waitingMsg {
  font-style: italic;
}
