@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

.main {
  background-color: #bbdefb;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 24px;
  text-align: center;
  width: 100%;
}