.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
}

.setup {
  background: #bbdefb;
  background: linear-gradient(
    180deg,
    #bbdefb 0%,
    #bbdefb 80%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-left: -24px;
  padding: 24px 24px 36px 24px;
  position: sticky;
  top: 115px;
  width: 100vw;
  z-index: 5;
}

.setupNoGradient {
  background: #bbdefb;
  padding-bottom: 24px;
}

.spacer {
  margin-bottom: 24px;
}

.bottomBtns {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0.01%,
    rgba(0, 0, 0, 0.25) 81.77%,
    rgba(0, 0, 0, 0.25) 100%
  );
  bottom: 0;
  display: flex;
  position: sticky;
}

.btnNah {
  flex: 1 auto 0;
  margin: 24px 6px 24px 24px;
}

.btnSend {
  flex: 1 auto 0;
  margin: 24px 24px 24px 6px;
}
